extends layout 

block content 
  div.container.px-5.py-5
    h1.text-center.mb-5 #{title}

    if errors 
      ul.d-flex.flex-column.flex-gap-1.align-items-center.justify-content-center.mb-4
        for error in errors 
          li!= error.msg

    form(method='POST')
      div.form-group.d-flex.flex-gap-1.align-items-center.justify-content-center.mb-5.container-sm
         //- label.fw-medium(for='name') Name
         input#platform.form-control.form-control-lg.bg-dark.text-light.border-0.focus-ring.focus-ring-secondary(type='text', placeholder='Enter platform name' name='name' required value=(undefined===platform ? '' : platform.name) )
      div.form-group.d-flex.justify-content-center
        button.btn.btn-light.fs-5.fw-semibold(type='submit') Submit 