*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: black;
  color: #fff;
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  /* color: #00b7ff; */
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
select,
textarea {
  max-width: 30rem;
  width: 100%;
}

.checkbox-group {
  max-width: 40rem;
  width: 100%;
}

textarea {
  height: 10rem;
  resize: vertical;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.425) !important;
}

select option {
  color: rgba(255, 255, 255, 0.425);
}
select option:first-child {
  color: #fff;
}

.nav {
  flex: 0;
}

.content {
  flex: 1;
  display: flex;
}

.flex-gap-1 {
  gap: 1rem;
}

.row {
  height: 100%;
}

.image {
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
}

.image-list {
  width: 8.5rem;
}

.image-detail {
  width: 10rem;
}

.container-min-full {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
